---
name: build
on: [deployment, push]

jobs:
  github-container-registory:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        molecule-version:
          - '3.0.8'
          - latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Push docker image to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT}}
          registry: ghcr.io
          repository: docker-hub-tm/circleci-executors_molecule/molecule
          dockerfile: ${{ matrix.molecule-version }}/Dockerfile
          tags: ${{ matrix.molecule-version }}

  trailing-whitespace:
    name: Find Trailing Whitespace
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: harupy/find-trailing-whitespace@56310d70ae8fd21afec8d4307d2d9ab6c15e7c5d

  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@665205c3255fcf157ef8dc9a40d527fe025a4bc8
        with:
          config_file: .yamllint
